
@font-face {
  font-family: 'BusanFont_Provisional';
  src: url('BusanFont_Provisional.eot?#iefix') format('embedded-opentype'),  url('BusanFont_Provisional.woff') format('woff'), url('BusanFont_Provisional.ttf')  format('truetype'), url('BusanFont_Provisional.svg#BusanFont_Provisional') format('svg');
  font-weight: normal;
  font-style: normal;
}
