/* HTML5 and jQuery Super Simple Nav by Todd Motto @toddmotto - toddmotto.com */

/* =============================================================================
   Navigation Core Styles
   ========================================================================== */

.wrapper {
  max-width: 1070px;
  width: 95%;
}

.wrapper nav {
  background: #FCCF2F;
  float: left;
}
.wrapper nav ul {
  text-align: center;
}
.wrapper nav ul li {
  float: left;
  display: inline;
}
.wrapper nav ul li:hover a {
  color: white;
}

.wrapper nav ul li a {
  display: block;
  padding: 15px 25px;
  color: #444;
}
.wrapper nav ul li ul {
  position: absolute;
  width: 110px;
  background: #FCCF2F;
  box-shadow: 1px 2px 2px #888888;
}
.wrapper nav ul li ul li {
  margin: 0;
  padding: 0;
  width: 110px;
}
.wrapper nav ul li ul li a {
  display: block;
  padding: 15px 10px;
  color: #444;
}
.wrapper nav ul li ul li:hover a {
  background: #f7f7f7;
  color: gray;
}
.wrapper nav ul li ul.fallback {
  display: none;
}
.wrapper nav ul li:hover ul.fallback {
  display: block;
}

.wrapper nav ul li:hover ul.fallback {
  display: block;
}

.wrapper a img {
  border: none;
}
.wrapper a {
  text-decoration: none;
}

.wrapper #header {
  overflow: auto;
  background: #33363c;
  border-top: 5px solid #2f3135;
  border-bottom: 2px solid #04a4cc;
}
.wrapper #logo {
  float: left;
  margin: 10px 50px 5px;
}
.wrapper #logo img {
  width: 80px;
  height: 36px;
}
.wrapper #view-tut {
  float: right;
  font-size: 13px;
  font-weight: 900;
  margin: 10px 50px 5px;
}
.wrapper #view-tut ul {
  margin: 0;
}
.wrapper #view-tut ul li {
  display: inline-block;
  *display: inline;
  zoom: 1;
  margin: 0 5px 0 0;
}
.wrapper #view-tut ul li a {
  display: block;
  padding: 5px 10px;
  background: #04a4cc;
  color: #fff;
  border-radius: 20px;
}
.wrapper #view-tut ul li a:hover {
  background: #0097cd;
}
.wrapper #main p {
  padding: 0;
  margin: 10px 0 0;
}
.wrapper #footer {
  clear: both;
}

/* Demo navigation positioning */
.wrapper nav {
}
